body{
    text-align: left;
}

h1{
    font-size: xx-large;
    margin-top: 25px;
    text-align: center;
}

h2{
    text-align: left;
}

button{
    margin-left: 25px;
}


.teste{
    margin-bottom: 20px;
}

.mat-radio-group{
    font-weight: 500;
    font-size: larger;
    margin-left: 50px;
       

}